<div class="layui-anim layui-anim-fadein additemcomponent">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset3 layui-col-xs12">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称：</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" placeholder=" 名称" #namer />
                    </div>
                </div>
       
                <div class="layui-form-item">
                    <label class="layui-form-label">商品价格：</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="number" placeholder=" 单价" #pricer />
                    </div>
                </div>
       
                <div class="layui-form-item">
                    <label class="layui-form-label">商品库存：</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="number" placeholder=" 数量" #countr />
                    </div>
                </div>
       
                <div class="layui-form-item">
                    <label class="layui-form-label">商品描述：</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" placeholder="介绍" #descr />
                    </div>
                </div>
       
                <div class="layui-form-item">
                    <label class="layui-form-label">商品分类：</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" placeholder="类别" #classificationr />
                    </div>
                </div>
       
                <div class="layui-form-item form-button">
                    <button class="layui-btn layui-btn-normal" (click)="addItem(namer.value,pricer.value,countr.value,descr.value,classificationr.value)">确认增加此商品</button>
                </div>
            </form>

        </div>
    </div>
</div>