.additemcomponent {
    margin-top: 20px;
}
.additemcomponent input {
    height: 30px;
    border: 1px solid #1E9FFF;
    border-radius: 4px;
}
.additemcomponent button {
    width: 100%;
}
/*  */
.layui-input-block{
    padding-right: 20px;
}

.form-button {
    padding: 0px 20px;
}