<div class="layui-anim layui-anim-fadein">

  <item-search></item-search>

    <div class="layui-row">
      <div class="layui-col-md10 layui-col-md-offset1 layui-col-ms12 layui-col-xs12">

        <ul class="items layui-row layui-row-space10">
          <li class="layui-col-md3 layui-col-xs10 layui-col-ms6 layui-col-xs-offset1" *ngFor="let item of items" [class.selected]="isSelected(item)" (click)="onSelect(item)">
            <div class="each">
              <span>{{ item.id }}. </span> {{ item.name }}
            </div>
          </li>
        </ul>
        
      </div>
    </div>

</div>