<div *ngIf="manager" class="layui-anim layui-anim-fadein profilemessage layui-row">
  <!-- <h2> {{manager.name}}</h2> -->
  <div class="layui-form layui-col-md4 layui-col-md-offset4 layui-col-sm8 layui-col-sm-offset2 layui-col-xs12">
    <div class="laui-form-item">
      <label class="layui-form-label">名&emsp;字：</label>
      <div class="layui-input-block">
        <input class="layui-input" [(ngModel)]="manager.name" placeholder="Name" />
        <br/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">账户名：</label>
      <div class="layui-input-block">
        <input class="layui-input" [(ngModel)]="manager.username" placeholder="账户名" disabled/>
        <br/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密&emsp;码：</label>
      <div class="layui-input-block">
        <input class="layui-input" [(ngModel)]="manager.password" placeholder="密码" />
        <br/>
      </div>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn layui-btn-normal layui-btn-fluid" (click)="save()">Save</button>
    </div>
  </div>
</div>
