#search-component {
  text-align: center;
  height: 5em;
}

#search-component span{
  font-size: 14px;
  color: #393D49;
}

.result {
  text-align: center;
}

.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 285px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    margin-left: 34.5em;
    z-index: 1;
  }
   
  .search-result:hover {
    color: #eee;
    background-color: #607D8B;
  }
   
  #search-box{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
  }