.additemcomponent {
    text-align: center;
    margin-top: 4em;
}
.additemcomponent label{
    font-size: 20px;
}
.additemcomponent input {
    height: 3em;
    width: 20em;
    border: 1px solid #1E9FFF;
    border-radius: 5px;
}
.additemcomponent button {
    margin-top: 5em;
    width: 20em;
}