<h2>商品详情</h2>
<div *ngIf="item">
  <h3>{{ item.name }}</h3>
  <div class="items">
    <label>商品编号：</label>{{ item.id }}
  </div>
  <div class="items">
    <label>商品名称： </label>{{ item.name }}
  </div>

  <div class="items">
    <label>商品库存：</label>{{item.count}}件
  </div>
  <!-- 商品不再需要Gender属性
  <div class="items">
    <label>Gender: </label>{{ item.gender }}
  </div>
  -->

  <div class="items">
    <label>商品描述： </label>{{ item.desc }}
  </div>

  <!-- 本意说明物品由哪个管理员添加
  <div class="items" *ngIf="manager">
    <label>My Owner: </label>{{ manager.name }}
  </div>
   -->

  <div>
    <app-buy-item [item]= "item"></app-buy-item>
  </div>
</div>

<div>
  <button (click)="goBack()">Back</button>
</div>