<div>
  <div class="innerbuydiv">
    <!--  用户不需要填写商品ID，系统自动判定为当前详情的商品
    <labe>商品编号：</labe>
    <input #itemId [(ngModule)]="itemId" placeholder="商品编号"> 
    -->
    <label classs="buytext">请填写修改数量：</label>
    <input class="layui-input" type="text" [(ngModel)]="count" 
    #itemNum placeholder="修改的数量" />
    <div class="zhuyi">
      <label></label>
    </div>
    <div class="buybutton">
      <button class="layui-btn layui-btn-normal" 
      (click)="saveAdd(itemNum.value); itemNum.value=''">确认增加</button>
      <button class="layui-btn layui-btn-normal"
        (click)="saveSub(itemNum.value); itemNum.value=''">确认减少</button>
    </div>
  </div>
</div>